

:root{
    
    --default-app-size: 28em;
    --default-writing-color: #000000;
    --default-writing-size: 10pt;
    --default-padding: 1.2em;
    --default-border-radius: 2%;
    --main-back-color: rgba(243, 243, 243, 0.95);
    
    --general-border: solid 1px #e8e8e8;
    --section-border: double 8px #e8e8e8;
    --general-border-radius: 2%;
    
    --logo-width: 16px;
    --logo-right-margin: 1.5em;
    
    --button-back-color: rgba(243, 243, 243, 0.25);
    --button-hover-color: #7098f5;
    --menu-back-color: #ffffff;
    --menu-button-padding: 0.3em;
    --menu-cursor: default;
    
    --submenu-width: 10em;
    --submenu-text-alignment: left;
    
    --hamburger-image-size: 32px;
    --sidebar-width: 20%;
    --sidebar-button-width: 88%;
    --sidebar-button-height: 80px;
    --sidebar-button-image-width: 34%;
    --sidebar-top-margin: 2em;
    --sidebar-button-margin: 0 0 0.75em 0;
    
    --main-content-padding: 1.3em;
    
    
    --statusbar-writing-size: 0.67em;
    --statusbar-column-spacing: 33% auto 33%;
    --statusbar-top-padding: 1.5em;
    
    font-size: var(--default-writing-size);
}


body{
/*    background-color: var(--main-back-color);*/
}

button{
    font-size: var(--default-writing-size);
    background-color: var(--main-back-color);
    border: var(--general-border);
    border-radius: var(--default-border-radius);
}

button:hover{
    background-color: var(--button-hover-color);
}

ul{
    list-style-type: none;
}

p{
    margin: 0;
    padding: 0;
}





/**********************  APP MAIN  *******************************/
#main{
    background-color: var(--main-back-color);
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
}





/**********************  MAIN MENU  ******************************/
.logo{
    float: left;
    width: var(--logo-width);
    margin-right: var(--logo-right-margin);
}

.menuButton{
    float: left;
    border: none;
    background-color: var(--button-back-color);
    padding: var(--menu-button-padding);
}

.dropdownMenu{
    display: inline-block;
    position: relative;
}

.menu{
    display: none;
    position: absolute;
    top: 1.2em;
    background-color: var(--menu-back-color);
    padding-left: 1.2em;
    z-index: 5;
    width: var(--submenu-width);
}

.submenu{
    position: relative;
    left: -4em;
    border: none;
    width: var(--submenu-width);
    text-align: var(--submenu-text-alignment);
    background-color: var(--menu-back-color);
}

.menu ul li a{
    background-color: var(--menu-back-color);
    text-decoration: none;
    color: var(--default-writing-color);
}

.menu ul li a:hover{
    background-color: var(--button-hover-color);
    cursor: var(--menu-cursor);
}


.menu hr{
    position: relative;
    left: -4em;
    background-color: var(--menu-back-color);
    width: var(--submenu-width);
}


.dropdownMenu:hover .menu{
    display: block;
}





/***********************  HAMBURGER MENU  ************************/
#hamburgerMenu{
    width: var(--sidebar-width);
    float: left;
}

.hamburger{
    float: left;
    background-color: var(--button-back-color);
    border-radius: var(--default-border-radius);
    border: var(--general-border);
}

.hamburger img{
    width: var(--hamburger-image-size);
    height: var(--hamburger-image-size);
}

#sidebar{
    margin-top: var(--sidebar-top-margin);
    display: block;
}

.sidebarButton{
    width: var(--sidebar-button-width);
    height: var(--sidebar-button-height);
    margin: var(--sidebar-button-margin);
    background-color: var(--button-back-color);
    border-radius: var(--general-border-radius);
    border: var(--general-border);
}

.sidebarButton:hover{
    background-color: var(--button-hover-color);
}

.sidebarButton img{
    width: var(--sidebar-button-image-width);
}




/***************************  MAIN CONTENT  *************************/
#mainContent{
    float: left;
    border-left: var(--section-border);
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);
    height: var(--default-app-size);
    width: 75%;
    padding: var(--main-content-padding);
}



/*****************************  STATUS BAR  *************************/
#statusBar{
    clear: both;
    display: grid;
    grid-template-columns: var(--statusbar-column-spacing);
    grid-template-areas: "left middle right";
    font-size: var(--statusbar-writing-size);
    padding-top: var(--statusbar-top-padding);
    border-top: var(--section-border);
}

#leftStatus{
    grid-area: left;
    text-align: left;
}

#middleStatus{
    grid-area: middle;
    text-align: center;
}

#rightStatus{
    grid-area: right;
    text-align: right;
}